.green {
height: 300px;
width: 300px;
background-image: url('../img/green_tea.png');
}
.strana {
text-align: center;
margin: 30px 0;
}
.zaglavie {
white-space: nowrap;
margin: 30px 40% 0 40%;
}
.modul {
height: 370px;
width: 300px;
}
h3 {
text-align: center;
color: #DDC149;
text-shadow: #fff -1px -1px 0, 
                 #333 1px 1px 0;
font-family: lucida console;
font-size: 17px;
}
.common {
margin-top: 10px;
display: flex;
justify-content: space-around;

}
.black {
height: 300px;
width: 300px;
margin: -30px 0;
background-image: url('../img/black_tea.png');
}
.white {
height: 180px;
width: 300px;
background-image: url('../img/white_tea.png');
}
.yellow {
height: 180px;
width: 300px;
margin: 30px 0;
background-image: url('../img/yellow_tea.png');
}
.oolong {
height: 290px;
width: 300px;
background-image: url('../img/oolong.png');
}
.puer {
height: 300px;
width: 300px;
background-image: url('../img/puer.png');
}
.india {
height: 150px;
width: 300px;
background-image: url('../img/tea_india.png');
}
.china {
height: 225px;
width: 300px;
background-image: url('../img/china_tea.png');
}
.ceylon {
height: 200px;
width: 300px;
background-image: url('../img/ceylon_tea.png');
}
.japan {
height: 200px;
width: 200px;
margin: 0 15%;
background-image: url('../img/japan_tea.png');
}
.afrika {
height: 289px;
width: 300px;
background-image: url('../img/afrika_tea.png');
}



.green:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -300px;
animation: description 1s;
}
.black:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -280px;
animation: description 1s;
}
.white:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -180px;
animation: description 1s;
}
.yellow:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -210px;
animation: description 1s;
}
.oolong:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -300px;
animation: description 1s; 
}
.puer:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -300px;
animation: description 1s; 
}
.india:hover~.description+pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -120px;
animation: description 1s; 
}
.afrika:hover~.description+pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -250px;
animation: description 1s; 
}
.ceylon:hover~.description+pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -200px;
animation: description 1s; 
}

.japan:hover~.description+pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -200px;
animation: description 1s; 
}
.china:hover~.description+pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -220px;
animation: description 1s; 
}
.description {
display: none;
text-align: center;
display: none;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
}
pre {
display: none;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
}
 

@keyframes description {
0% {
         		opacity: 0;
         	}
         	100% {
        		 opacity: 1;
        		 animation-fill-mode: forwards;
        		 }

}



 @media screen and (max-width: 800px)  {
input {
display: block;
}
 .common {
 display: inline-block;
 }
 #label-japan {
 height: 200px;
width: 200px;
 }
 .more {
 margin-bottom: -60px;
 margin-left: 200px; 
 }
 
.green:hover~.description, .black:hover~.description,
 .afrika:hover~.description+pre, .india:hover~.description+pre,
 .puer:hover~.description, .china:hover~.description+pre,
 .japan:hover~.description+pre, .ceylon:hover~.description+pre,
 .oolong:hover~.description, .yellow:hover~.description,
 .white:hover~.description {
 display: none;
 }
 .description+pre {
 animation: none;
 }

 input#japan:checked~.description+pre {
 display: block;
 }
 input#japan:not(checked)~.description+pre {
 display: none;
 }
 
 }

@media screen and (max-width: 479px)  {
        /* tablet */ 
        .strana, .zaglavie {
        padding-top: 20px;
        }
        .zaglavie {
       margin: 0 20% 0 20%; 
        }
        .common {
        margin: 0 15%;
        flex-direction: column;

}
.modul {
height: 250px;
width: 300px;
margin: 10px 0 0 0;
}
h3 {
margin: 0;
}
        
        
        }