.green {
height: 300px;
width: 296px;
background-image: url('../img/green_tea.jpg');
}
.strana {
text-align: center;
margin: 30px 0;
}
.zaglavie {
white-space: nowrap;
margin: 30px 40% 0 40%;
}
.modul {
height: 370px;
width: 300px;
}
h3 {
text-align: center;
color: #DDC149;
text-shadow: #fff -1px -1px 0, 
                 #333 1px 1px 0;
font-family: lucida console;
font-size: 17px;
}
.common {
margin-top: 10px;
display: flex;
justify-content: space-around;

}
.black {
height: 300px;
width: 300px;
margin: -30px 0;
background-image: url('../img/black_tea.jpg');
}
.white {
height: 180px;
width: 300px;
background-image: url('../img/white_tea.jpg');
}
.yellow {
height: 180px;
width: 300px;
margin: 30px 0;
background-image: url('../img/yellow_tea.jpg');
}
.oolong {
height: 286px;
width: 300px;
background-image: url('../img/oolong.jpg');
}
.puer {
height: 300px;
width: 300px;
background-image: url('../img/puer.jpg');
}
.india {
height: 144px;
width: 300px;
background-image: url('../img/tea_india.jpg');
}
.china {
height: 225px;
width: 300px;
background-image: url('../img/china_tea.jpg');
}
.ceylon {
height: 200px;
width: 300px;
background-image: url('../img/ceylon_tea.jpg');
}
.japan {
height: 200px;
width: 200px;
margin: 0 15%;
background-image: url('../img/japan_tea.jpg');
}
.afrika {
height: 289px;
width: 300px;
background-image: url('../img/afrika_tea.jpg');
}

.description {
display: none;
text-align: center;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
}
pre {
display: none;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
}
 

@keyframes description {
0% {
         		opacity: 0;
         	}
         	100% {
        		 opacity: 1;
        		 animation-fill-mode: forwards;
        		 }

}
@media screen  and (min-width: 801px){ 
.more {
display: none;
}
.green:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -300px;
animation: description 1s;
}
.black:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -280px;
animation: description 1s;
}
.white:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -180px;
animation: description 1s;
}
.yellow:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -210px;
animation: description 1s;
}
.oolong:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -300px;
animation: description 1s; 
}
.puer:hover~.description {
display: block;
cursor: pointer;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -300px;
animation: description 1s; 
}
.india:hover~.description+pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -120px;
animation: description 1s; 
}
.afrika:hover pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
animation: description 1s; 
}
.ceylon:hover~.description+pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -200px;
animation: description 1s; 
}


.china:hover~.description+pre {
display: block;
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
margin-top: -220px;
animation: description 1s; 
}
.japan:hover~.description+pre {
display: block;
/* 
cursor: pointer;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
background-color: rgba(244, 231, 203, 0.8);
 */
margin-top: -200px;
animation: description 1s; 
}
}



 @media screen and (max-width: 800px)  {

 .common {
 margin: 0 30%;
 display: inline-block;
 }
 #label-japan {
 height: 200px;
width: 200px;
 }
 .more {

 color: #00CC66;
 margin-bottom: -35px;
 margin-left: 250px; 
 }
 
.description {
 /* margin: -80% 0 0 0; */
 margin: -75% 0;
 }
.black~.description {
margin: -85% 0;
}
.white~.description {
margin: -55% 0;
}
.green~.description {
margin: -95% 0;
}
.oolong~.description {
margin: -95% 0;
}
.puer~.description {
margin: -100% 0;
}
.description+pre {
margin: -50% 0;
}
.afrika~.description+pre {
margin: -90% 0;
}
.ceylon~.description+pre {
margin: -70% 0;
}
.japan~.description+pre {
margin: -70% 0;
}
.china~.description+pre {
margin: -75% 0;
}
input#china:checked~.description+pre {
 display: block;
 }
 input#china:not(checked)~.description+pre {
 display: none;
 }
input#ceylon:checked~.description+pre {
 display: block;
 }
 input#ceylon:not(checked)~.description+pre {
 display: none;
 }
input#afrika:checked~.description+pre {
 display: block;
 }
 input#afrika:not(checked)~.description+pre {
 display: none;
 }
input#india:checked~.description+pre {
 display: block;
 }
 input#india:not(checked)~.description+pre {
 display: none;
 }
 input#japan:checked~.description+pre {
 display: block;
 }
 input#japan:not(checked)~.description+pre {
 display: none;
 }
 input#yellow:checked~.description {
 display: block;
 }
 input#yellow:not(checked)~.description {
 display: none;
 }
 input#black:checked~.description {
 display: block;
 }
 input#black:not(checked)~.description {
 display: none;
 }
 input#oolong:checked~.description {
 display: block;
 }
 input#oolong:not(checked)~.description {
 display: none;
 }
 input#white:checked~.description {
 display: block;
 }
 input#white:not(checked)~.description {
 display: none;
 }
 input#green:checked~.description {
 display: block;
 }
 input#green:not(checked)~.description {
 display: none;
 }
 input#puer:checked~.description {
 display: block;
 }
 input#puer:not(checked)~.description {
 display: none;
 }
 
 }

@media screen and (max-width: 510px)  {
        /* tablet */ 
        .strana, .zaglavie {
        padding-top: 20px;
        }
        .zaglavie {
       margin: 0 20% 0 20%; 
        }
        .common {
        margin: 0 15%;
        flex-direction: column;

}
.modul {
height: 250px;
width: 300px;
margin: 0 0 30% 0;
}
h3 {
margin: 0;
}
        
        
        }