
.smile {

height: 225px;
width: 250px;
float: right;
}
.text {
margin-left: 1%;
height: 200px;
width: 440px;
border: 1px solid;
}
.contact_h2 {
margin: 2% 30%;

white-space: nowrap;
}
.mail {
margin-left: 1%;
height: 30px;
width: 350px;
border: 1px solid;
}
button {
margin-left: 1%;
}
@media screen and (max-width: 700px)  {
.smile {
display: none;
}
.text {
width: 350px;
}
.mail {
width: 300px;
}


}
@media screen and (max-width: 550px) {
.contact_h2 {
margin: 0;
}
}