
body {
margin: 0;
background-image: url('../img/paper_background.jpg');
background-size: 100%;
background-color: rgba(244, 231, 203, 0.7);
}

header{

margin-top: -17px;
background-color: #00CC66;
height: 50px;
/* border-bottom: 8px solid #6FA749; */

}
h2 {
color: #F4D877;
}
ul.menu_main>li {
display: inline-block;
border-left: 2px solid;
border-right: 2px solid;
margin: 15px 7px;
color: #F6F9F9;
padding: 0 5px;
font-size: 1em;
font-family: lucida console;
}
ul.menu_main>li:hover {
color: #F6DD90;
cursor: pointer;
}
.image {
position: absolute;
top: 10px;
left: 30px;
background-image: url('../img/listok_header.png');
height: 30px;
width: 51px;
}


ul.menu_main {
display: flex;
justify-content: flex-end;
align-content: center;
}

footer {

height: 40px;
background-color: #00CC66;
z-index: 1;
	
	color: #222;
	position: relative;
	width:100%;
	margin: 0 auto;
  
}
.copywrite {
display: flex;
justify-content: center;

}
.hidden-menu {
display: none;
}
input {
display: none;
}

@media screen and (max-width: 870px) {
		/* mobile*/
		.image {
		position: absolute;
		top: 0px;
		}
		
		.hidden-menu {
        display: block;
        position: fixed;
        list-style:none;
        padding: 10px;      
         margin: 0;
        box-sizing: border-box;
        width: 200px;
       background-color: rgba(244, 231, 203, 1);
       height: 100%;
       top: 0;
       right: -200px;
       transition: right .2s;
       z-index: 2;
       -webkit-transform: translateZ(0);
       -webkit-backface-visibility: hidden;
}
      

     .btn-menu {
      color: #fff;
      background-color: #00CC66;
      padding: 5px;
      position: fixed;
     top: -2px;
     right: 5px;
  
     z-index: 3;
     width: 25px;
      -webkit-transform: translateZ(0);
     -webkit-backface-visibility: hidden;
}
    .btn-menu span {
     display: block;
     height: 5px;
     background-color: #fff;
     margin: 5px 0 0;
     transition: all .1s linear .23s;
     position: relative;
}
    .btn-menu span.first {
     margin-top: 0;
}
    .hidden-menu-ticker:checked ~ .btn-menu {
     right: 10px;
}
    .hidden-menu-ticker:checked ~ .hidden-menu {
     right: 0;
} 
    .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
     top: 10px;
}
   .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
} 

   .hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
		}
		ul.menu_main>li {
		display: none;
		}
		ul.menu_main {
		display: none;
		}
		
		}


