
body {
margin: 0;
background-image: url('../img/paper_background.jpg');
background-size: 100%;
background-color: rgba(244, 231, 203, 0.7);
}

header{

margin-top: -17px;
background-color: #00CC66;
height: 50px;
/* border-bottom: 8px solid #6FA749; */

}
h2 {
color: #F4D877;
}
ul.menu_main>li {
display: inline-block;
border-left: 2px solid;
border-right: 2px solid;
margin: 15px 7px;
color: #F6F9F9;
padding: 0 5px;
font-size: 1em;
font-family: lucida console;
}
ul.menu_main>li:hover {
color: #F6DD90;
cursor: pointer;
}
.image {
position: absolute;
top: 10px;
left: 40px;
background-image: url('../img/listok_header.png');
height: 30px;
width: 51px;
}


ul.menu_main {
display: flex;
justify-content: flex-end;
align-content: center;
}

footer {

height: 40px;
background-color: #00CC66;
z-index: 1;
	
	color: #222;
	position: relative;
	width:100%;
	margin: 0 auto;
  
}
.copywrite {
display: flex;
justify-content: center;

}


