
 
.history {

max-width: 1080px;
margin: auto;
background-color: rgba(244, 231, 203, 0.7);


}
p {
padding: 0 15px;
font-family: lucida sans unicode;
text-align: justify;
font-size: 1em;
}
h2 {
text-align: center;
}
img {
padding-left: 15px;
width: 400px;
height: 300px;
float: left;
margin: 0 15px 5px 0;
}
img.veki {
float: right;
height: 225px;
width: 300px;
}

.subchapter_history_knopki>li {
display: inline-block;
background: linear-gradient(to left, #F4E7CB, #fff);
height: 20px;
width: 190px; 
box-shadow: -2px 10px 25px -3px rgba(69,112,61,1);
text-align: center;
font-family: lucida console;
font-size: 1em
}
.subchapter_history {
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 0;
margin-bottom: 35px;
}

.subchapter_history_knopki>li:hover {
color: #F6DD90;
cursor: pointer;
}

input {
display: none;
}

input#evropa:checked~div.evropa {
display: block;
}
input#evropa:not(checked)~div.evropa {
display: none;
}
input#vostok:checked~div.vostok {
display: block;
}
input#vostok:not(checked)~div.vostok {
display: none;
}